.birthday {
    background-color: #ffe5b4;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ff6347;
    font-size: 3em;
}

p {
    color: #555;
    font-size: 1.5em;
}